%body{:bgcolor => "ffffff"}
  %div{:align => "center"}
    %br
      %table{:align => "center", :bgcolor => "#FFFFFF", :border => "0", :cellpadding => "10", :cellspacing => "0", :style => "font-family: Tahoma, 'Sans', Arial, serif; font-size: 14px; width: 580px; border: 10px solid #fafafa;"}
        %tbody
          %tr
            %td{:style => "font-family: Tahoma, 'Sans', Arial, serif; font-size: 28px; border-top: 1px dashed #CCCCCC; border-bottom: 1px dashed #CCCCCC; color: #333333;"} LOOKBOX SUPPORT
          %tr
            %td{:style => "color: #666666;"}
              %p Dear #{@user.name || 'client'},
              %p you've been successfully registered for Looxbox service.
              %p Now you can login using you google account.
              %p Or you can fill in the login form with your current email:
              %p= @user.email
              %p and password:
              %p= @pswd
              %p Also you may change your password any time in settings section.
              %br
              %br
              %p
                Best Regards,
                %br
                Customer Care



