#content
  .row
    .col-md-6
      -#%h2 Looks
    .col-md-6
      = link_to 'Add New Look', new_look_path, class: "btn btn-add-new"

  = render "tabs_links"
  - is_shared_looks ||= false
  - if @search.result.any?
    = render "looks_list", is_shared_looks: is_shared_looks
  - else
    = is_shared_looks ? "No one shared with you look has been found." : "No one look has been added yet. Press 'New look' to add the first one."

