%b
  %p= "Hello, #{current_user_name}"
  %p You're in a place, where collages of pictures can be created and stored.
  %p Use lookbox to sort out your sketches, images, fotos, etc...
  %p Divide them by nested multilevel categories. Download pictures from other resources, save outer links.
  %p Search images withing filters. Compare with each other on the special look canvas, drag, resize.
  %p Share looks with other users, save screenshots locally and stay focused on the better ones.
  %p Organize all your stuff just one time and never let a mess screw up your mood (:
  %p P.S Watch introduction video first. It'll make you being able to follow the steps, dive into details and eximine the system.
  %p= link_to "Log in here...", new_user_session_path unless user_signed_in?

- if user_signed_in?
  .menu-links-images.clearfix
    = render 'menu_links_btns'

%iframe{class: 'intro_video', src: 'https://www.youtube.com/embed/VPSbXuLBrY8?rel=0&autoplay=0 %>', frameborder: '1', allowfullscreen: '1'}
