%b
  %p= "Hello, #{current_user_name}"
  %p You're in the space, where your collages can be created and stored.
  %p Use lookbox to sort out your sketches, images, fotos, etc...
  %p Divide them by nested multilevel categories. Download pictures from other resources, save outer links.
  %p Search images withing filters. Compare with each other with special look canvas, drag, resize and stay focused on the better ones.
  %p Share looks with other users, save screenshots locally on your device.
  %p Organize all your stuff just ones and never let a mess screw up your mood (:
  %p P.S Watch ontroduction video first to dive into details and follow inner steps
  %p= link_to "Log in here...", new_user_session_path unless user_signed_in?

- if user_signed_in?
  .menu-links-images.clearfix
    = render 'menu_links_btns'

