%b
  %p= "Hello, #{current_user_name}"
  %p You're in a place, where your collage of pictures can be created.
  %p Just use this service to put together sketches for clothes looks, foto comparing, etc...
  %p Divide your images by nested multilevel categories. Share looks with friends or save them locally.
  %p Organize your things once and never let the mess screw up your mood (:
  %p= link_to "Log in here...", new_user_session_path unless user_signed_in?


