%b
  %p= "Hello, #{current_user_name}.."
  %p This is a place where you looks can be created.
  %p Organize your things once and never let a mess screw up your mood (:
  %p= link_to "Log in here...", new_user_session_path unless user_signed_in?


