GOOGLE_APP_ID: "Your google app id"
GOOGLE_APP_SECRET: "Your google app secret key"
GMAIL_USER_NAME: "your_post_name" #name before @gmail.com
GMAIL_USER_PASSWORD: "password_from_post"
CLOUDINARY_CLOUD_NAME: "Cloud name on cloudinary.com"
CLOUDINARY_API_KEY: "api key from dashboard"
CLOUDINARY_API_SECRET: "api secret from dashboard"
