= link_to category, remote: true, class: "btn btn-primary" do
  %span.glyphicon.glyphicon-chevron-left
  Back to Show
= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do
  Destroy
  %span.glyphicon.glyphicon-trash