%div{class: "modal-dialog", role: "document"}
  .modal-content
    .modal-header
      %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
        %span{'aria-hidden' => 'true'} ×
      %h4.modal-title#modal-label= category.name
    .modal-body
      .modal-form-content
        = render 'categories/show'
    .modal-footer
      = link_to edit_category_path(category), remote: true, class: "btn btn-sm btn-primary" do
        %i.glyphicon.glyphicon-pencil
        Edit
      = link_to category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-delete" do
        %i.glyphicon.glyphicon-trash
        Delete
