.category-picture-chbox
  display: none

.btn-new
  background: grey
  padding: 5px

.category-pictures-count
  #cursor: pointer
  display: block
  float: left
  height: 20px
  margin: 0 0 5px 5px
  padding: 5px
  position: relative
  width: 30px
  text-align: center

#category_parent_id
  min-width: 200px

.select2
  min-width: 200px




