.category-picture-chbox
  display: none

.btn-new
  background: grey
  padding: 5px

.sortable_tree .category-pictures-count
  #cursor: pointer
  display: block
  float: left
  padding: 3px
  position: relative
  width: 30px
  height: 20px
  text-align: center

#category_parent_id
  min-width: 200px

.select2
  min-width: 200px

.sortable_tree .controls a.category-add-image-icon
  cursor: pointer
  float: left
  width: 24px
  height: 24px
  background: image-url('/images/icons/category-image-icon.png') 1px no-repeat




