#look-canvas
  min-height: 600px
  border: 3px solid #8BC34A
  overflow: hidden
  //background: #D2EBB5
  background: #FFF
  margin-top: 20px
  position: relative

.look
  &-picture-block
    float: left
    //width: 200px
    //height: 200px
    cursor: move
    position: absolute
    &:hover
      .picture-action
        display: block
        cursor: pointer
        background: #ffffff
        right: auto
        left: 0
        opacity: 1 // for react

  &-info
    float: left

  &-block
    //width: 250px
    //height: 250px
    cursor: pointer
    border: 1px solid #8BC34A
    margin-right: 10px
    overflow: hidden
    box-shadow: none

  &-name
    clear: right
    width: auto
    max-width: 150px

  &-toggler
    .form-group
      margin-right: 6px

    .control-label
      margin-right: 3px
      margin-top: 6px

    .form-group,
    .control-label
      vertical-align: top

    .btn
      width: auto

      &-add-new
        margin-top: 0

    .row + .row
      margin-top: 15px

    .shared-users
      &-container
        display: flex

      &-list
        margin-left: 5px
        max-height: 67px
        overflow: auto
        background-color: #e7f4da
        padding-top: 7px

  &-user-item
    cursor: pointer

    a:after
      content: "×"
      display: none
      margin-left: 5px
      font-weight: bold
      font-size: 15px
      line-height: 1
      color: #a94442

    &:hover
      a
        color: #a94442
        text-decoration: none

        &:after
          display: inline-block

  &-pictures-action
    cursor: pointer
    position: absolute

.text-input-wrapper
  display: inline-block
  float: left

  input
    border: none
    background: none
    outline: none
    padding: 0 0
    margin: 0 0
    font: inherit

  span
    cursor: pointer
    color: blue
    font-weight: bold
    visibility: hidden
    margin-left: -12px

.ui-helper-hidden-accessible
  display: none

.shared-looks-actions
  float: left

.image-space
  //width: auto
  //height: 200px
  width: 100%
  height: auto

.undo-picture-removing
  left: 20px
  white-space: nowrap

.filtered-users-list
  border: 1px solid #ccc
  background-color: #fff
  position: absolute
  top: 30px
  left: 0
  padding: 5px 10px
  z-index: 999999
  width: 191px

.potential-users-list
  position: relative

  #user-autocomplete
    @extend .form-control

#pictures-modal.modal
  .btn-add-picture
    display: block
    clear: both
    top: 20px
    position: relative

  .nav-pagination
    margin: -43px -15px 0
    text-align: right
    border-top: 1px solid #e5e5e5
    padding-top: 15px
    padding-right: 15px
    width: auto

  .pagination
    margin: 0

  .search-filters-category
    margin-top: 10px
