#look-canvas
  min-height: 400px
  border: 3px solid #8BC34A
  overflow: hidden
  //display: block
  //float: left
  //position: relative
  //margin: 6px 0
  background: #D2EBB5

.look-picture-block
  float: left
  width: 200px
  height: 200px
  cursor: move

.look-info
  float: left

.look-block
  width: 250px
  height: 250px
  cursor: pointer
  border: 1px solid #8BC34A
  margin-right: 10px
  overflow: hidden

.look-name
  clear: right
  widht: auto


