// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-add-new
  @extend .btn-green
  float: right
  margin-top: 15px

.picture-block
  float: left
  margin-right: 15px
  margin-bottom: 15px
  background: white

.image-block
  width: 152px
  height: 152px
  overflow: hidden
  border: 1px solid grey
  box-shadow: 1px 1px 3px 0 black

.pictures .picture-block
  height: 162px

.picture-action
  float: right
  display: none

.picture-block:hover
  cursor: pointer

.show-picture-image
  max-width: 100%

.modal-body.picture-show
  text-align: center

.mark-picture-chbox
  display: none

.add-picture
  position: relative

.tick-mark-green
  width: 48px
  height: 48px
  background: image-url('/images/icons/tick-mark-green.png') -1px -1px no-repeat
  position: absolute
  bottom: -2px
  right: 100px


