// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-add-new
  @extend .btn-green
  float: right
  margin-top: 15px

.picture-block
  float: left
  margin-right: 15px
  margin-bottom: 15px
  background: white
  position: relative
  &:hover
    box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.2)
    .picture-action
      display: block


.image-block
  width: 152px
  height: 152px
  overflow: hidden
  border: 1px solid grey
  box-shadow: 1px 1px 3px 0 black

//.pictures .picture-block
//  height: 162px

.picture-action
  display: none
  position: absolute
  top: 0
  right: 0
  background: #555
  padding: 5px
  opacity: .7
  a
    color: #fff
    padding: 5px
    &:hover
      font-size: 16px
      text-decoration: none

.picture-block:hover
  cursor: pointer

.show-picture-image
  max-width: 100%

.modal-body.picture-show
  text-align: center

.mark-picture-chbox
  display: none

.add-picture
  position: relative

.tick-mark-green
  width: 48px
  height: 48px
  background: image-url('/images/icons/tick-mark-green.png') -1px -1px no-repeat
  position: absolute
  bottom: -2px
  right: 100px


