%div{class: "modal-dialog", role: "document"}
  .modal-content
    .modal-header
      %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
        %span{'aria-hidden' => 'true'} ×
      %h4.modal-title#modal-label
    .modal-body
      = form_for(@picture, remote: true, authenticity_token: true, html: { multipart: true}) do |f|
        = render 'pictures/form_content', f: f
    .modal-footer

